<ion-view view-title="main module">
  <ion-content>
    <div class="details-page">
      <div class="header img-container" layout="row" ng-style="{'background-image':'url({{ctrl.backgroundImgUrl.url}})'}">
        <div flex="10"></div>
        <div flex="30" class="padding-top">
          <p class="white">Back to event search</p>
          <h3 class="white">{{ctrl.event.eventSearch.name}}</h3>
          <p class="white">{{ctrl.event.eventSearch._embedded.venues[0].address.line1}},
            {{ctrl.event.eventSearch._embedded.venues[0].city.name}},
            {{ctrl.event.eventSearch._embedded.venues[0].state.stateCode}},
            {{ctrl.event.eventSearch._embedded.venues[0].postalCode}}
          </p>
        </div>
        <div flex layout="column">
          <div flex></div>
          <md-input-container class="menu-width bg-white margin-right rounder-corners md-no-underline">
            <label>Select another date</label>
            <md-select ng-model="ctrl.userState" class="md-no-underline">
              <md-option ng-repeat="event in ctrl.event.selectedArray" ng-value="event">
                {{event.name}}
                ({{event.dates.start.localDate | date}})
              </md-option>
            </md-select>
          </md-input-container>
          <div flex="10" layout="row" class="searchRow">
            <div class="bg-white height-150 margin-right rounder-corners">
              <md-datepicker required md-input-name="checkInDate" class="md-no-underline margin-right md-warn " flex="15" ng-model="ctrl.event.checkin" md-placeholder="Check In"></md-datepicker>
            </div>
            <div class="bg-white height-150 rounder-corners">
              <md-datepicker required md-input-name="checkOutDate" class="md-no-underline margin-right md-warn " flex="15" ng-model="ctrl.event.checkout" md-placeholder="Check out"></md-datepicker>
            </div>

            <div>
              <md-button flex="15" ng-disabled="eventSearch.$invalid" ng-click="ctrl.searchForFlights(ctrl.event)" class="searchBtn md-warn md-raised md-hue-2">Search</md-button>
            </div>
          </div>
          <div flex="25"></div>

        </div>
        <div flex="10"></div>
      </div>
      <div class="mt3 ml4 mr4">
        <h3 class="h3">Package Options</h3>
        <div layout="row" layout-align="space-between center" class=" center">
          <div class="border" ng-repeat="package in ['Gold', 'Backstage', 'Red Carpet', 'VIP']">
            <div class="px4 py3">
              <img height="50px" ng-src="main/assets/images/{{package}}.svg"/>
              <h4 class="mt0">{{package}}</h4>
            </div>
          </div>
        </div>

        <md-content class="mt2">
          <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="Overview">
              <md-content class="md-padding">
                <h2 class="md-display-1 mb0">What you Get</h2>
                <div class="border thick-border"></div>
                <div layout="row">
                  <div flex="50" class="mt1 px1">
                    <p>{{ctrl.event.eventSearch.info}}</p>
                  </div>
                  <div flex="50" class="mt1 px1">
                    <img class="max-width-2" ng-src="{{ctrl.overViewImgUrl[0].url}}"/>
                  </div>
                </div>

              </md-content>
            </md-tab>
            <md-tab label="Tickets">
              <md-content class="md-padding">
                <h2 class="md-display-1 mb0">Tickets</h2>
                <div class="border thick-border"></div>
                <div layout="row">
                  <div flex="50" class="mt1 px1">
                    <img class="max-width-2" ng-src="{{ctrl.overViewImgUrl[0].url}}"/>
                  </div>
                  <div flex="50" class="mt1 px1">
                    <p>{{ctrl.event.eventSearch.info}}</p>
                  </div>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="Hotels">
              <md-content class="md-padding">
                <h2 class="md-display-1 mb0">Hotels</h2>
                <div class="border thick-border"></div>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                  commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
              </md-content>
            </md-tab>
            <md-tab label="Flight">
              <md-content class="md-padding">
                <h2 class="md-display-1 mb0">Flights</h2>
                <div class="border thick-border"></div>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                  commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>

    </div>
  </ion-content>
</ion-view>
