<md-content class="padding navbar" layout="row" layout-align="end">
  <div layout="row" flex="25" layout-align="space-between" class="padding-right">
    <div layout="row" class="padding-left border-left">
      <h6 class="padding-right">Account</h6>
      <img class="icons" src="main/assets/images/account.png"/>
    </div>
    <div layout="row" class="padding-left border-left">
      <h6 class="padding-right">Help</h6>
      <img class="icons" src="main/assets/images/help.png"/>
    </div>
    <div layout="row" class="padding-right padding-left border-left">
      <h6 class="padding-right">Andrew</h6>
      <img class="icons" src="main/assets/images/account.png"/>
    </div>
  </div>
</md-content>
